#!/bin/sh

export HOME="{{ .HomePath }}"

RELAYER_KEYS_PATH="$HOME/.relayer/config/keys"

# The indicator to understand that relayer isn't initialized.
if [ ! -d "$RELAYER_KEYS_PATH" ]; then

  echo "Importing the relayer mnemonics."
  relayercosmos keys restore coreum coreum-key "{{ .CoreumRelayerMnemonic }}" --coin-type={{ .CoreumRelayerCoinType }}
  relayercosmos keys restore peer peer-key "{{ .PeerRelayerMnemonic }}"

  echo "Relayer balances:"
  relayercosmos q balance coreum
  relayercosmos q balance peer

  echo "Adding relayer paths."
  relayercosmos paths new {{ .CoreumChanID }} {{ .PeerChanID }} coreum-peer-ibc-path

  echo "Connecting the chains."
  relayercosmos transact link coreum-peer-ibc-path
fi

echo "Starting the relayer."
relayercosmos start --debug-addr "0.0.0.0:{{ .DebugPort }}"
