#!/bin/sh

export HOME="{{ .HomePath }}"

RELAYER_KEYS_PATH="$HOME/.relayer/config/keys"

# The indicator to understand that relayer isn't initialized.
if [ ! -d "$RELAYER_KEYS_PATH" ]; then

echo "Importing the relayer mnemonics."
relayer keys restore coreum coreum-key "{{ .CoreumRelayerMnemonic }}" --coin-type={{ .CoreumRelayerCoinType }}
relayer keys restore peer peer-key "{{ .PeerRelayerMnemonic }}"

echo "Relayer balances:"
relayer q balance coreum
relayer q balance peer

echo  "Adding relayer paths."
relayer paths new {{ .CoreumChanID }} {{ .PeerChanID }} coreum-peer-ibc-path

fi

if [ $(relayer query channels coreum --home /app/.relayer/ | wc -l) -eq 0 ]
then
    echo "Connecting the chains."
    relayer transact link coreum-peer-ibc-path
fi


echo "Starting the relayer."
relayer start  --debug-addr "0.0.0.0:{{ .DebugPort }}"
