groups:
  - name: Cosmos Monitoring
    rules:
    - alert: InstanceDown
      # Condition for alerting
      expr: up == 0
      for: 3m
      # Annotation - additional informational labels to store more information
      annotations:
        title: 'Instance {{ `{{ $labels.instance }}` }} down'
        description: '{{ `{{ $labels.job }}` }} on {{ `{{ $labels.instance }}` }} has been down for more than 3 minutes'
      # Labels - additional labels to be attached to the alert
      labels:
        severity: 'critical'

    - alert: DegradedSyncing
      expr: rate(tendermint_consensus_latest_block_height{job="cosmos"}[5m]) < 0.1
      for: 5m
      labels:
        severity: major
        service: cosmos-monitoring
      annotations:
        description: 'Degraded syncing on {{ `{{ $labels.instance }}` }}'

    - alert: TooFewPeers
      expr: tendermint_p2p_peers{job="cosmos"} < 3
      for: 5m
      labels:
        severity: major
        service: cosmos-monitoring
      annotations:
        description: 'P2P Peers on {{ `{{ $labels.instance }}` }} is lower than threshold (3)'

    - alert: NodeStall
      expr: (tendermint_consensus_height{chain_id="$chain_id", instance="$instance"} == bool tendermint_consensus_latest_block_height{chain_id="$chain_id",instance="$instance"}) == 1
      for: 5m
      labels:
        severity: major
        service: cosmos-monitoring
      annotations:
        description: 'Syncing appears to be stalled on {{ `{{ $labels.instance }}` }}'

    - alert: ChainHalt
      expr: rate(tendermint_consensus_height{job="cosmos"}[5m]) == 0
      for: 1m
      labels:
        severity: critical
        service: cosmos-monitoring
      annotations:
        description: 'Chain appears to be halted'

    - alert: ValidatorMissing
      expr: tendermint_consensus_missing_validators{job="cosmos"} > 0
      for: 5m
      labels:
        severity: critical
        service: cosmos-monitoring
      annotations:
        description: 'Validator is missing'

    - alert: UnknownDeterministicGasMessage
      expr: deterministic_gas_unknown_message{job="cosmos"} > 0
      for: 1m
      labels:
        severity: major
        service: cosmos-monitoring
      annotations:
        description: 'Unknown deterministic gas message'

    - alert: DegradedBDJunoSyncing
      expr: (max(max_over_time(tendermint_consensus_height{chain_id="{{ .ChainID }}"}[30s]) or vector(0)) - max(max_over_time(juno_last_indexed_height{chain_id="{{ .ChainID }}"}[30s]) or vector(0))) > 50
      for: 30s
      labels:
        severity: major
        service: cosmos-monitoring
      annotations:
        description: 'BDJuno {{ `{{ $labels.chain_id }}` }}  syncing is degrading by more that 50 blocks'

    - alert: SlowBlockTime
      expr: bdjuno_block_time{period="hour"} > 2.0
      for: 10s
      labels:
        severity: major
        service: cosmos-monitoring
      annotations:
        description: 'Slow block time.'

    - alert: MissedProposals
      expr: (sum(increase(bdjuno_proposal_sum{}[15m])) by (validator)) / (sum(increase(bdjuno_proposal_count{}[15m])) by (validator)) < 0.9
      for: 5m
      labels:
        severity: major
        service: cosmos-monitoring
      annotations:
        description: 'Proposal rate on {{ `{{ $labels.validator }}` }} is lower than threshold (0.9)'

    - alert: IBCRelayerHermesLowBalance
      expr: wallet_balance{job="ibc-relayer-hermes"} < 10000000
      for: 5s
      labels:
        severity: major
        service: cosmos-monitoring
      annotations:
        description: 'IBC relayer Hermes: Balance for chain {{ `{{ $labels.chain }}` }}, account {{ `{{ $labels.account }}` }}  is less then 10.000.000'

    - alert: IBCRelayerOutdatedClientUpdate
      expr: delta(client_updates_submitted_total{job="ibc-relayer-hermes"}[1d]) == 0
      for: 5s
      labels:
        severity: major
        service: cosmos-monitoring
      annotations:
        description: 'IBC relayer Hermes: IBC client "{{ `{{ $labels.src_chain }}` }}->{{ `{{ $labels.dst_chain }}` }}:{{ `{{ $labels.client }}` }}" update is outdated.'

    - alert: IBCRelayerCosmosLowBalance
      expr: cosmos_relayer_wallet_balance{job="ibc-relayer-cosmos"} < 10000000
      for: 5s
      labels:
        severity: major
        service: cosmos-monitoring
      annotations:
        description: 'IBC relayer Cosmos: Balance for chain {{ `{{ $labels.chain }}` }} is less then 10.000.000'

    - alert: DeterministicGasFactorExceedExpectedMax
      expr: max_over_time(deterministic_gas_factor_exceed_expected_max{job="cosmos"}[1m]) > 0
      for: 1s
      labels:
        severity: critical
        service: cosmos-monitoring
      annotations:
        description: 'Found message exceeded expected max gas factor, {{ `{{ $labels.msg_name }}` }} '

    - alert: DeterministicGasExceedFuseGasMultiplier
      expr: max_over_time(deterministic_gas_exceed_fuse_gas_multiplier{job="cosmos"}[1m]) > 0
      for: 1s
      labels:
        severity: critical
        service: cosmos-monitoring
      annotations:
        description: 'Found message exceeded fuse gas multiplier, {{ `{{ $labels.msg_name }}` }} '

  - name: Faucet
    rules:
    - alert: FaucetBalance
      expr: balance{job="faucet"} < 10000000000
      for: 0s
      labels:
        severity: major
        service: faucet
      annotations:
        description: 'Faucet balance for address {{ `{{ $labels.address }}` }} is less then 10.000'
