# global configuration
global:
  scrape_interval: 5s # Set the scrape interval to every 5 seconds. Default is every 1 minute.
  evaluation_interval: 5s # Evaluate rules every 15 seconds. The default is every 1 minute.

rule_files:
  - "alert.rules"

scrape_configs:
  - job_name: 'cosmos'
    static_configs:
{{range .Nodes}}
      - targets: [ "{{.Host}}:{{.Port}}" ]
        labels:
          environment: znet
          instance: "{{.Name}}"
{{end}}

{{ if .BDJuno.Host }}
  - job_name: 'bdjuno'
    static_configs:
      - targets: [ "{{.BDJuno.Host}}:{{.BDJuno.Port}}" ]
        labels:
          environment: znet
          instance: "bdjuno"
{{ end }}

{{ if .Hermes.Host }}
  - job_name: 'ibc-relayer-hermes'
    metrics_path: /metrics
    static_configs:
      - targets: [ "{{.Hermes.Host}}:{{.Hermes.Port}}" ]
        labels:
          environment: znet
          instance: "ibc-relayer-hermes"
{{ end }}

{{ if .RelayerCosmos.Host }}
  - job_name: 'ibc-relayer-cosmos'
    metrics_path: /relayer/metrics
    static_configs:
      - targets: [ "{{.RelayerCosmos.Host}}:{{.RelayerCosmos.Port}}" ]
        labels:
          environment: znet
          instance: "ibc-relayer-cosmos"
{{ end }}
