# global configuration
global:
  scrape_interval: 5s # Set the scrape interval to every 5 seconds. Default is every 1 minute.
  evaluation_interval: 5s # Evaluate rules every 15 seconds. The default is every 1 minute.

rule_files:
  - "alert.rules"

scrape_configs:
  - job_name: 'cosmos'
    static_configs:
{{range .Nodes}}
      - targets: [ "{{.Host}}:{{.Port}}" ]
        labels:
          environment: znet
          instance: "{{.Name}}"
{{end}}

{{ if .Faucet.Host }}
  - job_name: 'faucet'
    metrics_path: /metrics
    static_configs:
      - targets: [ "{{.Faucet.Host}}:{{.Faucet.Port}}" ]
        labels:
          environment: znet
          instance: "faucet"
{{ end }}

{{ if .Callisto.Host }}
  - job_name: 'callisto'
    static_configs:
      - targets: [ "{{.Callisto.Host}}:{{.Callisto.Port}}" ]
        labels:
          environment: znet
          instance: "callisto"
{{ end }}

{{ if (ne (len .HermesApps) 0) }}
  - job_name: 'ibc-relayer-hermes'
    metrics_path: /metrics
    static_configs:
      {{ range $i, $hermes := .HermesApps }}
      - targets: [ "{{$hermes.Host}}:{{$hermes.Port}}" ]
        labels:
          environment: znet
          instance: "ibc-relayer-hermes-{{$i}}"
      {{ end }}
{{end}}
