#!/bin/sh

export HOME="{{ .HomePath }}"

RELAYER_CONFIG_PATH="$HOME/.relayer/config/config.yaml"

if [ ! -f "$RELAYER_CONFIG_PATH" ]; then

# Init the relayer and set the templated config
relayer config init

echo \
"global:
    api-listen-addr: :5183
    timeout: 10s
    memo:
    light-cache-size: 20
chains:
    znet:
        type: cosmos
        value:
            key: znet-key
            chain-id: {{ .CoreumChanID }}
            rpc-addr: {{ .CoreumRPCUrl }}
            account-prefix: {{ .CoreumAccountPrefix }}
            keyring-backend: test
            gas-adjustment: 1.2
            gas-prices: 0.0625ducore # initial gas price
            min-gas-amount: 0
            debug: true
            timeout: 20s
            output-format: json
            sign-mode: direct
    gaia:
        type: cosmos
        value:
            key: gaia-key
            chain-id: {{ .GaiaChanID }}
            rpc-addr: {{ .GaiaRPCUrl }}
            account-prefix: {{ .GaiaAccountPrefix }}
            keyring-backend: test
            gas-adjustment: 1.2
            gas-prices: 0.01stake
            min-gas-amount: 0
            debug: true
            timeout: 20s
            output-format: json
            sign-mode: direct
paths: {}" > $RELAYER_CONFIG_PATH

# import the relayer mnemonic
relayer keys restore znet znet-key "{{ .CoreumRelayerMnemonic }}" --coin-type={{ .CoreumRelayerCoinType }}
relayer keys restore gaia gaia-key "{{ .GaiaRelayerMnemonic }}"

# query balances
relayer q balance znet
relayer q balance gaia

# add relayer path
relayer paths new {{ .CoreumChanID }} {{ .GaiaChanID }} ibc-path

# init relayer path
relayer transact link ibc-path

fi

# start the relayer
relayer start ibc-path --debug-addr "0.0.0.0:{{ .DebugPort }}"
