#!/bin/sh

set -e

# handling the container restart
if callisto start --home="{{ .HomePath }}"; then
  exit 0
else
  echo "Applying database migration."
  for file in /app/schema/*.sql; do
    psql {{ .PostgresURL }} -a -f "${file}"
  done

  callisto start --home="{{ .HomePath }}"
fi
